body {
    background-color: rgba(255, 240, 240, 0.315);
}


.historia {
    font-family:'Times New Roman', Times, serif;
    font-size:medium
   
}

.texto {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.boton1 {
    border: 1px solid #eeff01cc; 
padding: 10px; 
background-color: #8c00ff; 
color: #f5e50d; 
text-decoration: none; 
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif;
border-radius: 50px; 
}


   
    
